@model IEnumerable<SistemasVirtuales.Models.Docentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ap_pat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ap_mat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ap_pat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ap_mat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Docente }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Docente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Docente })
        </td>
    </tr>
}

</table>

<!--Lineas y asi_______________________________________________________________________________________________-->

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Formulario</h5>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
            </div>
            <div class="modal-body">
                <table>

                </table>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
